.header {
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 5rem;
  height: auto;
  fill: #fff;
}
