.nav {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}

.nav a:link,
:visited {
  text-decoration: none;
  color: #fff;
}

.nav a {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}

.nav a:not(:first-child) {
  margin-left: 3.5rem;
}

.nav__language {
  margin-left: 3.5rem;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid transparent;
  color: #000;
  padding: 0 1rem;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 600;

  &:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    transform: translateY(-0.2rem);
  }
}

@media only screen and (max-width: 900px) {
  .nav a {
    display: none;
  }
}
