.bg {
  background: var(--topography-bg);
  background-color: #000;
}

.intro {
  color: #fff;
  height: calc(100vh - 8.5rem);
  margin: auto 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.intro h1 {
  font-size: 7rem;
}
