.skills {
  background: var(--topography-bg);
  background-color: #000;
  color: #fff;
  padding: 10rem;
}

@media only screen and (max-width: 500px) {
  .skills {
    padding-bottom: 5rem;
  }
}

.skills h2 {
  font-size: 3.2rem;
  text-align: center;
  align-self: center;
}

.skills svg {
  width: 7rem;
  height: auto;
  transition: all 0.1s;
}

.skills svg:hover {
  transform: scale(1.2);
}

.skills figcaption {
  transition: all 0.2s;
}

.skills svg:hover ~ figcaption {
  transform: scale(1.1) translateY(0.2rem);
}

.skills__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills__icons {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .skills__icons {
    flex-direction: column;
  }
}

.skills__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .skills__icon-box {
    margin-bottom: 3rem;
  }
}

.skills__icon-box figcaption {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}
